@*
    Logar com cliente e o administrador
*@
@model ProjetoDesenv.Models.UsuarioView
@{
}

@using(Html.BeginForm())
{
    <fieldset class="">
        <legend>Logar com o Usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Senha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Senha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Perfil)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(x => x.Perfil, new[] {
            new SelectListItem() {Text = "Masculino", Value = "m"},
            new SelectListItem() {Text = "Feminino", Value = "f"}
        }, "Seleiconar ....") 
        </div>
        
        <br/>
        <p>
             <input type="submit" value="Cadastrar o usuario" class="btn-primary" />
        </p>
    </fieldset>
}